@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora/Lora-VariableFont_wght.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  font-family: "Lora", Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --black0: #1a1a1d;
  --gray0: #4e4e50;
  --red0: #6f2232;
  --red1: #950740;
  --red2: #c3073f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
}

a {
  text-decoration: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
